<nav class="navbar-default navbar-static-side white-bg" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    <img src="./assets/images/favicon_32x32.png" alt="">
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.stock-branch-bind"><i class="fa fa-dashboard"></i> <span class="nav-label"  translate>Stock Branch Binds</span> </a>
            </li>
        </ul>

    </div>
</nav>
