<div class="wrapper wrapper-content work-list animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" ng-class="{'col-lg-7': ((vm.isShowDetails || vm.isShowDetailsFavorites))}">
            <div class="ibox">
                <div class="ibox-title text-right ">
                    <a class="btn bnt-site add" ng-click="vm.isShowDetails = true; vm.isShowDetailsFavorites = false; vm.isEditable = true; vm.add()">Add</a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive table-main">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Photo</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th></th>
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody ng-class="{'odd':$odd}" class ng-repeat="user in vm.users track by user.id">
                            <tr ng-click="vm.showDetailsFavorites(user); vm.isShowDetailsFavorites = true; vm.isShowDetails = false; vm.isEditable = false;"
                                ng-class="{'active-user':(vm.users[$index].id === vm.user.id)}">
                                <td ng-bind="user.username"></td>
                                <td>
                                    <img ng-if="user.path_avatar || user.avatar"
                                         ng-src="{{user.path_avatar || user.avatar}}"
                                         class="avatar" alt="avatar">
                                    <img ng-if="!user.path_avatar && !user.avatar" class="avatar"
                                         ng-src="./assets/images/avatar-default.png"
                                         alt="avatar default">
                                </td>
                                <td ng-bind="user.phone"></td>
                                <td><span
                                        ng-bind="(user.address.city) + ', '
                                 + (user.address.street) + ', '
                                 + (user.address.suite)"></span>
                                </td>
                                <td ng-bind="user.email"></td>
                                <td><button class="btn bnt-site" ng-click="vm.showDetails(user); vm.isShowDetailsFavorites = false; vm.isShowDetails = true; vm.isEditable =true; $event.stopPropagation();">Edit</button></td>
                                <!--<td><button class="btn bnt-site delete" >Delete</button></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.isShowDetails" class="col-lg-5">
            <div class="show-details">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="ibox-tools dropdown ">
                            <a ng-click="vm.isShowDetails = false; vm.closeUserDetails()">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 class="text-center">
                                            <div class="form-group group">
                                                <h2 ng-if="!vm.isEditable" class="form-control-static-title"
                                                    ng-bind="vm.user.username  || '-'"></h2>
                                                <input ng-if="vm.isEditable" type="text" ng-model="vm.user.username"
                                                       class="form-control" placeholder="Username">
                                                <span class="bar"></span>
                                            </div>
                                        </h2>
                                        <div class="wrapper-user-avatar" ng-if="!vm.isEditable">
                                            <img ng-if="vm.user.path_avatar || vm.user.avatar"
                                                 ng-src="{{vm.user.path_avatar || vm.user.avatar}}"
                                                 class="avatar-user" alt="avatar">
                                            <img ng-if="!vm.user.avatar" class="avatar-user"
                                                 ng-src="./assets/images/avatar-default.png"
                                                 alt="avatar default">
                                        </div>
                                        <div ng-if="vm.isEditable"
                                             class="relative cursor-pointer wrapper_logo wrapper-user-avatar">
                                            <div class="logo cursor-pointer"
                                                 ngf-select="vm.uploadPicture($files, $event, 'updateImage', 'avatar')"
                                                 accept="image/*"
                                                 ng-disabled="vm.btnDisable"
                                                 ngf-validate="{pattern: '.png,.gif,.jpg,.jpeg'}">
                                                <img ng-if="vm.user.path_avatar || vm.user.avatar" class="avatar-user"
                                                     ng-src="{{vm.user.path_avatar || vm.user.avatar}}" alt="">
                                                <img ng-if="!vm.user.path_avatar && !vm.user.avatar" class="avatar-user"
                                                     ng-src="./assets/images/avatar-default.png" alt="">
                                            </div>
                                            <span class="delete-avatar glyphicon glyphicon-remove" title="Delete avatar"
                                                  ng-hide="!vm.user.avatar || !vm.user.path_avatar || vm.user.avatar == 'null'"
                                                  ng-click="vm.deleteAva()">
                                        </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group group">
                                                    <label>Phone</label>
                                                    <p ng-if="!vm.isEditable" class="form-control-static"
                                                       ng-bind="vm.user.phone  || '-'"></p>
                                                    <input ng-if="vm.isEditable" type="text" ng-model="vm.user.phone"
                                                           class="form-control" placeholder="Phone">
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group group">
                                                    <label>City</label>
                                                    <p ng-if="!vm.isEditable" class="form-control-static"
                                                       ng-bind="vm.user.address.city  || '-'"></p>
                                                    <input ng-if="vm.isEditable" type="text"
                                                           ng-model="vm.user.address.city" class="form-control"
                                                           placeholder="City">
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group group">
                                                    <label>Street</label>
                                                    <p ng-if="!vm.isEditable" class="form-control-static"
                                                       ng-bind="vm.user.address.street  || '-'"></p>
                                                    <input ng-if="vm.isEditable" type="text"
                                                           ng-model="vm.user.address.street" class="form-control"
                                                           placeholder="Street">
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group group">
                                                    <label>Suite</label>
                                                    <p ng-if="!vm.isEditable" class="form-control-static"
                                                       ng-bind="vm.user.address.suite  || '-'"></p>
                                                    <input ng-if="vm.isEditable" type="text"
                                                           ng-model="vm.user.address.suite" class="form-control"
                                                           placeholder="Suite">
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group group">
                                                    <label>Email</label>
                                                    <p ng-if="!vm.isEditable" class="form-control-static"
                                                       ng-bind="vm.user.email || '-'"></p>
                                                    <input ng-if="vm.isEditable" type="text" ng-model="vm.user.email"
                                                           class="form-control" placeholder="Email">
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group group">
                                                    <label>Web sites</label>
                                                    <p ng-if="!vm.isEditable" class="form-control-static"
                                                       ng-bind="vm.user.email || '-'"></p>
                                                    <input ng-if="vm.isEditable" type="text" ng-model="vm.user.website"
                                                           class="form-control" placeholder="Web sites">
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-buttons">
                                    <!--<div class="btn-wrapper">-->
                                        <!--<button class="btn bnt-site" ng-disabled="vm.isEditable"-->
                                                <!--ng-click="vm.isEditable = true;">Edit-->
                                        <!--</button>-->
                                    <!--</div>-->
                                    <div class="btn-wrapper">
                                        <button ng-disabled="!vm.isEditable" class="btn bnt-site"
                                                ng-click="vm.save(vm.user)">Save
                                        </button>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="btn bnt-site delete" ng-disabled="!vm.user.id"
                                                ng-click="vm.remove(vm.user); vm.isEditable = false;">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.isShowDetailsFavorites" class="col-lg-5">
            <div class="show-details">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="ibox-tools dropdown ">
                            <a ng-click="vm.isShowDetails = false; vm.closeUserDetails()">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-2" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 class="text-center">
                                           Favorites sites
                                            <div class="form-group ">
                                                <p  class="form-control-static"
                                                   ng-bind="vm.user.website"></p>
                                            </div>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

